services:
  # ollama:
  #   image: ollama/ollama:0.12.0
  #   ports:
  #     - "11434:11434"
  #   volumes:
  #     - ./ollama:/root/.ollama
  #     - ./ollama-entrypoint.sh:/ollama-entrypoint.sh
  #   environment:
  #     - MODEL=${LLM_MODEL}
  #     - OLLAMA_KEEP_ALIVE=24h
  #   deploy:
  #     resources:
  #       reservations:
  #         devices:
  #           - capabilities: [gpu]
  #   entrypoint: "/ollama-entrypoint.sh"

  mysql:
      image: mysql:8.0
      environment:
        MYSQL_DATABASE: ${DATABASE_NAME}
        MYSQL_ROOT_USER: ${DATABASE_ROOT_USER}
        MYSQL_ROOT_PASSWORD: ${DATABASE_ROOT_PASSWORD}
        MYSQL_USER: ${DATABASE_USER}
        MYSQL_PASSWORD: ${DATABASE_PASSWORD}
      ports:
        - "3306:3306"
      command: --default-authentication-plugin=mysql_native_password
      volumes:
        - ./mysql:/var/lib/mysql

  phpmyadmin:
      image: phpmyadmin/phpmyadmin
      environment:
        PMA_HOST: mysql
        PMA_PORT: 3306
      ports:
        - "80:80"
      depends_on:
        - mysql
