**/build
**/out/
**/target/
**/vite.config.js.timestamp-*
**/vite.config.ts.timestamp-*

**/node_modules
**/.gradle
**/.svelte-kit
**/.output
**/.wrangler
**/ollama/
**/mysql/

**/.DS_Store
**/Thumbs.db

**/.idea
**/.vscode
**/*.iml
**/*.ipr
**/*.iws
**/.project
**/.settings
**/.classpath
**/.factorypath

**/.vercel
**/.netlify

**/*.env